.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.border {
  display: inline-block;
  color: var(--light-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  background: var(--primary-color);
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.section-title {
  font-size: 1.75rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 1  00;
  text-transform: uppercase;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}